<!DOCTYPE html>


<html>
<head>
  <title>Meeting Request From EarlyOn Meetings!</title>
  <style>
    body { font-family: Helvetica, Arial, sans-serif; color:black; }
    .header, .footer { background-color: #F8F8F8; padding: 20px; text-align: center; }
    .button { padding: 8px 12px; border-radius: 2px; font-size: 15px; font-weight: bold; text-decoration: none; display: inline-block; }
    .confirm { background-color: #00a651; color: #ffffff; }
    .reject { background-color: #ED2939; color: #ffffff; }
  </style>
</head>
<body>
  <div class="header">
    <img src="https://i.imgur.com/cJoW808.png" alt="EarlyOn Logo" style="max-width: 150px;"><br>
    <h2 style="color:black;">Meeting Request From EarlyOn Meetings!</h2>
  </div>

  {% autoescape off %}

    Hi {{user.username}}

    Please use the link to activate your account:

    http://{{domain}}{% url 'activate' uidb64=uid token=token %}


    {% endautoescape %}

  <div class="footer">
    <p style="color:black;">EarlyOn Meetings Inc.<br>
      3911 Concord Pike #8030 • Wilmington, DE, 19803<br>
      <a href="http://earlyonmeetings.com">www.earlyonmeetings.com</a> | <a href="mailto:info@earlyonmeetings.com">info@earlyonmeetings.com</a><br>
    © 2024 EarlyOn Meetings Inc. All rights reserved.</p>
  </div>
</body>
</html>

