<!DOCTYPE html>
{% load static %}

<body>
    <div class="footer-dark">
        <div class="footer-UI">
            <div class="footer-frame">
            <div class="footer-div">
                <div class="footer-rectangle"></div>
                <div class="footer-frame-2">
                <img class="logo-LIFT" src="{% static 'white-logo.svg' %}" />
                <div class="information">
                    <div class="div-2">
                    <div class="div-3">
                        <img class="path" src="https://c.animaapp.com/g8qLV9ir/img/path-1@2x.png" />
                        <img class="shape" src="https://c.animaapp.com/g8qLV9ir/img/shape-1.svg" />
                    </div>
                    <p class="text-wrapper">3911 Concord Pike #8030 • Wilmington, DE, 19803</p>
                    </div>
                    <div class="footer-frame-3">
                    <div class="div-2">
                        <img class="div-3" src="https://c.animaapp.com/g8qLV9ir/img/round-phone-24px@2x.png" />
                        <div class="text-wrapper">(302) 414-0509</div>
                    </div>
                    </div>
                    <div class="social">
                    <div class="text-wrapper-2">Social Media</div>
                    <div class="footer-frame-4">
                        <div class="div-3">
                            <a href="https://www.facebook.com/people/EarlyOn-Meetings-Inc/61557996003705/" target="_blank">
                                <img class="img-2" src="https://c.animaapp.com/g8qLV9ir/img/facebook.svg" alt="Facebook"/>
                            </a>
                        </div>
                        <div class="div-3">
                            <a href="https://www.linkedin.com/company/earlyon-meetings-inc/" target="_blank">
                                <img class="linked-in" src="https://c.animaapp.com/g8qLV9ir/img/linkedin.svg" alt="LinkedIn"/>
                            </a>
                        </div>
                        <div class="div-3 item-to-move">
                            <a href="https://www.youtube.com/@EarlyOnMeetingsInc." target="_blank">
                                <img class="youtube" src="https://c.animaapp.com/g8qLV9ir/img/youtube.svg" alt="YouTube"/>
                            </a>
                        </div>
                        <div class="div-3 item-to-move">
                            <a href="https://www.instagram.com/earlyon.meetings/" target="_blank">
                                <img class="img-2" src="https://c.animaapp.com/g8qLV9ir/img/instagram.svg" alt="Instagram"/>
                            </a>
                        </div>  
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="footer-frame-5">
                <div class="footer-rectangle-2"></div>
                <div class="footer-frame-6">
                  <div class="footer-frame-7">
                    <a href="{% url 'about_us' %}" style="text-decoration:none">
                        <div class="text-wrapper-3">ABOUT US</div>
                    </a>
                    <a href="{% url 'contact_us' %}" style="text-decoration:none">
                        <div class="text-wrapper-3">CONTACT US</div>
                    </a>
                    <a href="{% url 'help' %}" style="text-decoration:none">
                        <div class="text-wrapper-3 item-to-move">HELP</div>
                    </a>
                    <a href="{% url 'privacy_policy' %}" style="text-decoration:none">
                        <div class="text-wrapper-3 item-to-move">PRIVACY POLICY</div>
                    </a>
                    <a href="{% url 'terms_and_conditions' %}" style="text-decoration:none">
                        <div class="text-wrapper-3 item-to-move">TERMS AND CONDITIONS</div>
                    </a>
                    <a href="{% url 'cookie_policy' %}" style="text-decoration:none">
                        <div class="text-wrapper-3 item-to-move">COOKIE POLICY</div>
                    </a>
                  </div>
                <p class="copyright-m">Copyright © 2024 EarlyOn Meetings Inc. All rights reserved.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>