<!DOCTYPE html>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{{ request.GET.urlencode|safe }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{{ request.GET.urlencode|safe }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{{ request.GET.urlencode|safe }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{{ request.GET.urlencode|safe }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
