<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    
    <title>
        Password Reset - EarlyOn Meetings
    </title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


    <link rel="stylesheet" href="{% static 'styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'register_student.css' %}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-33Y8RZDE69"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-33Y8RZDE69');
</script>
<body>
    <div class="register-student screen">
        <div class="frame-47">
            <div class="frame-37">
                <h1 class="title"> Enter Email For New Password</h1>
                <img class="line-3" src="{% static 'line.png' %}" alt="Line 3" />
            </div>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="frame">
                    <div class="email opensans-semi-bold-white-17px">
                        <span class="opensans-semi-bold-black-17px">Email</span>
                        <span class="opensans-semi-bold-red-17px">*</span>
                    </div>
                    <input type="text" name="email" class="rectangle" placeholder="Email" required/>
                </div>
                <div class="frame-100">
                    <input type="submit" class="frame-45" name="Send Email" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>