<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    
    <title>
        Password Reset Sent - EarlyOn Meetings
    </title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


    <link rel="stylesheet" href="{% static 'styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'register_student.css' %}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .text_info {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 480px;
            gap: 5px;
        }
        p {
            font-family: var(--font-family-open_sans);
            text-align: center;
        }
    </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-33Y8RZDE69"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-33Y8RZDE69');
</script>
<body>
    <div class="register-student screen">
        <div class="frame-47">
            <div class="frame-37">
                <h1 class="title"> Email Successfully Sent </h1>
                <img class="line-3" src="{% static 'line.png' %}" alt="Line 3" />
            </div>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
            <div class="text_info">
                <p> We've emailed you instructions for setting a new password. If an account exists with the email you entered, you should receive them shortly.</p>
                <p> If you didn't receive an email, please check if you entered your email address correctly and check your spam folder.</p>
            </div>
        </div>
    </div>
</body>
</html>